<div *ngIf="countries.length === 0 ; else table" class="alert alert-warning  text-center">
  No hay paises
</div>
<!--
  *aqui al template le ponemos un ID con # y en el if del primer div , le ponemos que cuando no se cumpla la condicion muestre la talba  indicada
 -->
<ng-template #table>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>icon</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Poblacion</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ country.flag }}</td>
      <td>
        <img [src]="country.flags.svg" [alt]="country.name.common">
      </td>
      <td>{{ country.capital }}</td>
      <td>{{ country.population | number }}</td>
      <td>
        <a href="#">ver mas</a>
      </td>
      </tr>
    </tbody>


  </table>

</ng-template>
